@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


button {
  background: #000F38;
  color: #fff;
  padding: 13px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
}

section {
  width: 70%;
  margin: auto;
}

header,
footer {
  padding: 25px 70px;
}


/* For Largest Devices */
@media screen and (max-width:1024px) {
  section {
    width: 80%;
  }
}



/* For SemiMedium  Devices */
@media screen and (max-width:768px) {

  section {
    width: 90%;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  html::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}




@media screen and (max-width:768px) {
  section {
    width: 95%;
  }

  header,
  footer {
    padding: 25px 18px;
  }

}



@media screen and (max-width:450px) {

  header,
  footer {
    padding: 25px 10px;
  }

}